html {
  height: 100%;
  background: #feffff;
  background: -moz-linear-gradient(
    -45deg,
    #feffff 0%,
    #ddf1f9 86%,
    #a0d8ef 100%
  );
  background: -webkit-linear-gradient(
    -45deg,
    #feffff 0%,
    #ddf1f9 86%,
    #a0d8ef 100%
  );
  background: linear-gradient(135deg, #feffff 0%, #ddf1f9 86%, #a0d8ef 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef',GradientType=1 );
  background-attachment: fixed;
}
@media print {
  html {
    background: #ffffff;
  }
}
body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue";
  color: #cccccc;
}
main {
  width: 1000px;
  margin: 20px auto;
  box-shadow: 4px 4px 35px -5px rgba(0, 0, 0, 0.75);
}
@media print {
  main {
    margin: 0;
    box-shadow: none;
  }
}

header {
  background: #34353a;
  color: #8c8c8c;
  padding: 8px;
  font-size: 12px;
}
header a {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fdbc3f;
  float: left;
  margin-right: 7px;
}
header a:first-of-type {
  background-color: #fc635d;
}
header a:last-of-type {
  background-color: #34c749;
}
header > div {
  text-align: center;
  font-weight: 100;
  letter-spacing: 1px;
}
header span {
  font-weight: bold;
}

main > section {
  background: #1d1d1d;
  display: flex;
}

aside {
  color: #cccccc;
  background: #252526;
  width: 250px;
  display: block;
  font-family: "HelveticaNeue-Light", "Helvetica Neue";
  font-size: 16px;
}
aside a {
  color: #cccccc;
  text-decoration: none;
}
aside h1 {
  margin: 0;
  padding: 5px;
  font-size: 18px;
  background: #383838;
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
  text-transform: uppercase;
  letter-spacing: 1px;
}
aside h1 i {
  font-size: 14px;
}
.fa-sort-down {
  position: relative;
  top: -4px;
}
.fa-user {
  position: relative;
  top: -2px;
}
aside i {
  margin: 0 8px;
  font-size: 12px;
}
aside ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
aside ul ul {
  margin-left: 20px;
  font-size: 14px;
}
aside li {
  padding: 4px;
}
aside > ul > li {
  padding-bottom: 0;
}
aside .fa-folder-open {
  color: #feca6d;
}
aside .fa-link {
  color: #38c345;
}
aside .fa-envelope {
  color: #e9cb1b;
}
aside .fa-linkedin {
  color: #1177b3;
}
aside .fa-twitter {
  color: #1da1f2;
}
aside .fa-codepen {
  color: #e3e3e3;
}
aside .fa-laravel {
  color: #f66c5a;
}
aside .fa-php {
  color: #8892bf;
}
aside .fa-react {
  color: #61dafb;
}
aside .fa-node-js {
  color: #689f63;
}
aside .fa-js {
  color: #f0db4f;
}
aside .fa-html5 {
  color: #e44d26;
}
aside .fa-css3-alt {
  color: #264de4;
}
aside .fa-docker {
  color: #0091e2;
}
aside .fa-book {
  color: #826565;
}
aside .fa-comment-alt {
  color: #dac15f;
}
aside .fa-wordpress {
  color: #0087be;
}
aside .fa-google {
  color: #ea4335;
}
aside .fa-certificate {
  color: #f53b3b;
}

.editor {
  width: 750px;
  height: 1243px;
}

.file-tabs {
  background: #252526;
  color: #cccccc;
  font-size: 12px;
}
.file-tabs span {
  display: inline-block;
  background: #1e1e1e;
  padding: 8px 16px;
}

.resume {
  padding: 12px;
  font-family: "Consolas";
  font-size: 15px;
  line-height: 1.4;
}
.resume blockquote {
  color: #999999;
  margin: 0 0 0 18px;
}
.resume blockquote:before {
  content: "\003E";
  float: left;
  margin-left: -15px;
}
.resume h2,
.resume h3 {
  font-size: 15px;
}
.resume h2 {
  color: #599dce;
}
.resume h3 {
  margin-bottom: 0;
  color: #70c7ea;
}
.resume small {
  color: #999999;
}

.resume-details {
  margin: 0 0 0 32px;
  padding: 0;
  list-style: none;
}
.resume-details li {
  padding: 3px 0;
}
.resume-details li:before {
  content: "*";
  float: left;
  margin: 3px 0 0 -20px;
}

footer {
  color: #eeeeee;
  background: #599dce;
  font-size: 12px;
  padding: 3px 0;
}
footer i {
  margin: 0 8px;
}
